<div class="container">
  <div class="row" style="margin-top:40px">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <div class="panel panel-default ">
        <div class="panel-body">
          <div class="lead">Sign in with your login & password</div>
          <div>
            <form class="form-horizontal" [formGroup]="userForm">

              <div class="row">
                <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                  <div class="xsInput">
                    <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('email')}">
                      <input type="text" class="form-control" formControlName="email" placeholder="Login" required/>
                      <div *ngIf="formErrors.email" class="invalid" [hidden]="!FieldInValid">
                        {{ formErrors.email }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                  <div class="xsInput">
                    <div class="form-group" [ngClass]="{'has-error': isFieldInvalid('password')}">
                    <input type="password" class="form-control" placeholder="Password" formControlName="password" required/>
                    <div *ngIf="formErrors.password" class="invalid" [hidden]="!isFieldInvalid('password')">
                      {{ formErrors.password }}
                    </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 text-center">
                  <button
                    type="button"
                    class="btn btn-lg btn-default"
                    [disabled]="!formEnable"
                    (click)="onSubmit()">Sign in
                  </button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
